.App{
  text-align: center;
}

.header{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.container-body{
  display: flex;

 

}

.sideBar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  height: 100vh;
  background-color: aquamarine;
}